<h2 mat-dialog-title>Update Todo</h2>


<mat-dialog-content>
  <form [formGroup]="todoForm">
    <div>
      <mat-form-field color="accent" class="example-full-width w-100">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
        <mat-error *ngIf="!todoForm.controls.title.valid">Field is required</mat-error>
      </mat-form-field>
    </div>
    
    <div>
      <mat-form-field color="accent" class="example-full-width w-100">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput>
        <mat-error *ngIf="!todoForm.controls.description.valid">Field is required</mat-error>
      </mat-form-field>
    </div>
    
    
    <div class="w-100">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Due Date</mat-label>
        <input formControlName="dueDateTime" matInput [matDatepicker]="picker">
        <mat-error *ngIf="!todoForm.controls.dueDateTime.valid">Field is required</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  
    <div *ngIf="todo.completionStatus && todo.completionDateTime">
      <mat-label>Completion Date time: <b>{{todo.completionDateTime | date:'MMM d, y, h:mm:ss a'}}</b></mat-label>
    </div>
    
    <div class="w-100">
      <mat-checkbox formControlName="completionStatus">Completed</mat-checkbox>
    </div>
  
  </form>
  
  <div>
    <h3>Attachments</h3>
    <div class="img-div" *ngIf="todo.attachments && todo.attachments.length > 0">
      <div *ngFor="let attachment of todo.attachments">
        <img class="img" (click)="openImage(apiUrls.attachmentsBaseUrl + '/' + attachment)" src="{{apiUrls.attachmentsBaseUrl}}/{{attachment}}">
      </div>
      
    </div>
  </div>
  
  <input #fileUpload (change)="addFile($event)" type="file" onclick="this.value=null"
         accept=".png, .jpg, .jpeg">
  <p *ngIf="extensionError">Only .jpg, .jpeg and .png files are allowed</p>

</mat-dialog-content>


<mat-dialog-actions class="w-100 d-flex justify-content-center">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" (click)="updateTodo()">Update Todo</button>
</mat-dialog-actions>
