
<div class="d-flex">
  <div class="droppable task-container">
    <div class="example-origin"
         (dragover)="onDragOver($event);"
         (drop)="onDrop($event);">
      <div
        id="draggable-1"
        class="draggable"
        draggable="true"
        (dragstart)="onDragStart($event);">
        draggable1
      </div>
      
      <div
        id="draggable-2"
        class="draggable"
        draggable="true"
        (dragstart)="onDragStart($event);">
        draggable2
      </div>
    </div>
    
    <!--<div-->
    <!--  class="example-dropzone"-->
    <!--  (dragover)="onDragOver($event);"-->
    <!--  (drop)="onDrop($event);">-->
    <!--  dropzone-->
    <!--</div>-->
  </div>
  
  <div class="droppable review-container">
    <div class="example-origin"
         (dragover)="onDragOver($event);"
         (drop)="onDrop($event);">
      <div
        id="draggable-3"
        class="draggable"
        draggable="true"
        (dragstart)="onDragStart($event);">
        draggable3
      </div>
      
      <div
        id="draggable-4"
        class="draggable"
        draggable="true"
        (dragstart)="onDragStart($event);">
        draggable4
      </div>
    </div>
    
    <!--<div-->
    <!--  class="example-dropzone"-->
    <!--  (dragover)="onDragOver($event);"-->
    <!--  (drop)="onDrop($event);">-->
    <!--  dropzone-->
    <!--</div>-->
  </div>
</div>

